<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
	<!-- sbb CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<title>HelloBoot!</title>
</head>

<body>
	<!--네비게이션 바-->
	<!-- navbar.html 파일에서 th:fragment값이 navbarFragment인 엘리먼트의 내용으로 교체 -->
	<nav th:replace="~{navbar :: navbarFragment}"></nav>
	
	<!-- 기본 템플릿 안에 삽입될 내용 Start -->
	<th:block layout:fragment="content"></th:block>
	<!-- 기본 템플릿 안에 삽입될 내용 End -->
	
	<!-- BootStrap JS -->
	<script th:src="@{/bootstrap.min.js}"></script>
	
	<!-- 이렇게 하면 layout.html을 상속하는 템플릿에서 아무데나 
		layout:fragment="script"인 것을 작성하면 여기에 위치된다. -->
	<!-- 자바스크립트 Start -->
	<th:block layout:fragment="script"></th:block>
	<!-- 자바스크립트 End -->
</body>

</html>