<!-- toggler 를 toggle로 써서 한참 찾았네 -->
<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">HelloBoot</a>
		<!-- 모르는 속성이 많은데 이건 웹 접근성을 위한거라 지금 단계에서는 몰라도 될듯 -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<!-- sec:authorize="isAnonymous()" : 로그인 되지 않은 경우에만 해당 엘리먼트 표시
						 sec:authorize="isAuthenticated()" : 로그인 된 경우에만 해당 엘리먼트 표시 -->
					<a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
					<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/user/signup}">회원가입</a>
				</li>
			</ul>
		</div>
	</div>
</nav>