<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<h5 class="my-3 border-bottom pb-2">질문등록</h5>
	<!-- th:action 속성을 삭제했다 (현재 호출된 URL로 폼이 전송된다) -->
	<form th:object="${questionForm}" method="post">
		<!-- th:action 속성이 없으면 CSRF 값이 자동 생성되지 않기 때문에 hidden input 을 통해 보내줘야 한다
			(이런 식으로 작성하는 것이 수동으로 CSRF 값을 추가하기 위한 스프링 시큐리티 규칙이다.) 
			CSRF란 실제 사이트에서 작성된 것인지 확인하기 위해 시큐리티가 토큰을 발행해서 확인하는것 -->
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		
		<!-- 공백을 submit 할 시 오류 메세지 -->
		<!-- div태그의 내용을 form_errors.html 파일안에 
		th:fragment 속성명이 formErrorsFragment인 엘리먼트로 교체 -->
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
        
		<div class="mb-3">
			<label for="subject" class="form-label">제목</label>
			<!-- th:field="*{subject} 를 사용해서 오류 메세지로 다시 템플릿이 호출돼도 
			     적었던 내용이 유지되도록 함 (원리는 잘 이해가 안간다..)" -->
			<input type="text" th:field="*{subject}" id="subject" class="form-control">
		</div>
		<div class="mb-3">
			<label for="content" class="form-label">내용</label>
			<textarea th:field="*{content}" id="content" class="form-control" rows="10"></textarea>
		</div>
		<input type="submit" value="저장하기" class="btn btn-primary my-2">
	</form>
</div>

</html>