<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<h5 class="my-3 border-bottom pb-2">질문등록</h5>
	<form th:action="@{/question/create}" th:object="${questionForm}" method="post">
		
		<!-- 공백을 submit 할 시 오류 메세지 -->
		<!-- div태그의 내용을 form_errors.html 파일안에 
		th:fragment 속성명이 formErrorsFragment인 엘리먼트로 교체 -->
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
        
		<div class="mb-3">
			<label for="subject" class="form-label">제목</label>
			<!-- th:field="*{subject} 를 사용해서 오류 메세지로 다시 템플릿이 호출돼도 
			     적었던 내용이 유지되도록 함 (원리는 잘 이해가 안간다..)" -->
			<input type="text" th:field="*{subject}" id="subject" class="form-control">
		</div>
		<div class="mb-3">
			<label for="content" class="form-label">내용</label>
			<textarea th:field="*{content}" id="content" class="form-control" rows="10"></textarea>
		</div>
		<input type="submit" value="저장하기" class="btn btn-primary my-2">
	</form>
</div>

</html>